# Ques -1 Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [12]:
# Importing Libraries 

import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

time.sleep(5)

#Loading Driver
driver =webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

time.sleep(5)

# Giving the name of website we have to  scrap
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"

#Getting Url 
driver.get(url)

rank  = []
name = []
artist  = []
upload_date   = []
views= []

time.sleep(4)

Task1= driver.find_element_by_xpath("//td[@class='mbox-text']/span[@class='plainlinks']/a[1]")
Task1.click()

time.sleep(10)

In [14]:
Task2= driver.find_element_by_xpath("//div[@class='searchresults mw-searchresults-has-iw']//li[1]//div[@class='mw-search-result-heading']/a[1]")
Task2.click()

In [15]:
time.sleep(5)

Task3=driver.find_elements_by_xpath("//tbody/tr/td[1]")
for i in Task3[0:30]:
    if i.text is NoSuchElementException  :
        rank.append("--") 
    else:
        rank.append(i.text)

time.sleep(5)

Task4=driver.find_elements_by_xpath("//tbody/tr/td[2]")
for i in Task4[0:30]:
    if i.text is NoSuchElementException  :
        name.append("--") 
    else:
        name.append(i.text)

time.sleep(5)

Task5=driver.find_elements_by_xpath("//tbody/tr/td[3]")
for i in Task5[0:30]:
    if i.text is NoSuchElementException  :
        artist.append("--") 
    else:
        artist.append(i.text)

In [16]:
Task6=driver.find_elements_by_xpath("//tbody/tr/td[4]")
for i in Task6[0:30]:
    if i.text is NoSuchElementException  :
        views.append("--") 
    else:
        views.append(i.text)

In [17]:
len(views)

30

In [18]:
time.sleep(5)

Task7=driver.find_elements_by_xpath("//tbody/tr/td[5]")
for i in Task7[0:30]:
    if i.text is NoSuchElementException  :
        upload_date.append("--") 
    else:
        upload_date.append(i.text)

In [19]:
len(upload_date)

30

In [20]:
print(len(rank),len(name),len(artist),len(upload_date),len(views))

30 30 30 30 30

In [21]:
YouTube_Videos = pd.DataFrame({'Rank' : rank ,'Name' : name , 'Artist' :artist , 'Upload Date' : upload_date , 'Views(Billions)' : views} )

In [22]:
# Doing Some Data Cleaning 
YouTube_Videos['Name'] = YouTube_Videos['Name'].str.replace('\d+', '')
YouTube_Videos['Name']= YouTube_Videos['Name'].str.replace('[', '')
YouTube_Videos['Name']= YouTube_Videos['Name'].str.replace(']', '')
YouTube_Videos['Name'] = YouTube_Videos['Name'].str.replace('"', '')

In [23]:
# Getting  Final Data
YouTube_Videos

,Rank,Name,Artist,Upload Date,Views(Billions)
0,1.,Baby Shark Dance,Pinkfong Kids' Songs & Stories,"June 17, 2016",7.39
1,2.,Despacito,Luis Fonsi featuring Daddy Yankee,"January 12, 2017",7.09
2,3.,Shape of You,Ed Sheeran,"January 30, 2017",5.10
3,4.,See You Again,Wiz Khalifa featuring Charlie Puth,"April 6, 2015",4.85
4,5.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.38
5,6.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",4.37
6,7.,Uptown Funk,Mark Ronson featuring Bruno Mars,"November 19, 2014",4.03
7,8.,Gangnam Style,Psy,"July 15, 2012",3.88
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",3.66
9,10.,Sorry,Justin Bieber,"October 22, 2015",3.37
10,11.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",3.34
11,12.,Sugar,Maroon 5,"January 14, 2015",3.34
12,13.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",3.30
13,14.,Roar,Katy Perry,"September 5, 2013",3.22
14,15.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.13
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.13
16,17.,Shake It Off,Taylor Swift,"August 18, 2014",2.99
17,18.,Dame Tu Cosita,El Chombo featuring Cutty Ranks,"April 5, 2018",2.94
18,19.,Bailando,Enrique Iglesias featuring Descemer Bueno and ...,"April 11, 2014",2.94
19,20.,Lean On,Major Lazer and DJ Snake featuring MØ,"March 22, 2015",2.93
20,21.,Faded,Alan Walker,"December 3, 2015",2.92
21,22.,Dark Horse,Katy Perry featuring Juicy J,"February 20, 2014",2.92
22,23.,Girls Like You,Maroon 5 featuring Cardi B,"May 31, 2018",2.91
23,24.,Let Her Go,Passenger,"July 25, 2012",2.85
24,25.,Mi Gente,J Balvin and Willy William,"June 29, 2017",2.82
25,26.,Hello,Adele,"October 22, 2015",2.75
26,27.,Blank Space,Taylor Swift,"November 10, 2014",2.68
27,28.,Waka Waka (This Time for Africa),Shakira featuring Freshlyground,"June 4, 2010",2.66
28,29.,Perfect,Ed Sheeran,"November 9, 2017",2.65
29,30.,Chantaje,Shakira featuring Maluma,"November 18, 2016",2.60

# Ques-2 Scrape the details team India’s international fixtures from bcci.tv

# You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [85]:
# Importing Libraries 

import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

time.sleep(5)

#Loading Driver
driver =webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

# Giving the name of website we have to  scrap
url = "https://www.bcci.tv/"

#Getting Url 
driver.get(url)

time.sleep(5)

match = []
series = []
place = []
date  = []
month = []
time  = []

In [86]:
Task1 = driver.find_element_by_xpath("//li[1]//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']")
Task1.click()

In [87]:
Task2 = driver.find_element_by_xpath("//li[1]/div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']/div[1]/ul[1]/li[1]/a[@href='/international/fixtures']")
Task2.click()

In [88]:
# Getting Match , Series , Place , Date , Month and Time Data.

Task3=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")
for i in Task3:
    if i.text is NoSuchElementException  :
        match.append("--") 
    else:
        match.append(i.text)

Task4=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in Task4:
    if i.text is NoSuchElementException  :
        series.append("--") 
    else:
        series.append(i.text)


Task5=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span")
for i in Task5:
    if i.text is NoSuchElementException  :
        date.append("--") 
    else:
        date.append(i.text)


Task6=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[1]")
for i in Task6:
    if i.text is NoSuchElementException  :
        month.append("--") 
    else:
        month.append(i.text)
        


Task7=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]")
for i in Task7:
    if i.text is NoSuchElementException  :
        time.append("--") 
    else:
        time.append(i.text)

Task8=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in Task8:
    if i.text is NoSuchElementException  :
        place.append("--") 
    else:
        place.append(i.text)

In [89]:
print(len(match),len(series),len(place),len(date),len(month),len(time))

10 10 10 10 10 10

In [91]:
# Getting  Final Data.

Matches = pd.DataFrame({'Match Title' : match ,'Series' : series , 'Place' :place, 'Date' : date , 'Month': month ,'Time' : time} )
Matches

,Match Title,Series,Place,Date,Month,Time
0,3rd T20I,AUSTRALIA V INDIA 2020/21,"Sydney Cricket Ground, Sydney",08,DECEMBER,13:40 IST
1,1st Test,AUSTRALIA V INDIA 2020/21,"Adelaide Oval, Adelaide",17,DECEMBER,09:30 IST
2,2nd Test,AUSTRALIA V INDIA 2020/21,"Melbourne Cricket Ground, Melbourne",26,DECEMBER,05:00 IST
3,3rd Test,AUSTRALIA V INDIA 2020/21,"Sydney Cricket Ground, Sydney",07,JANUARY,05:00 IST
4,4th Test,AUSTRALIA V INDIA 2020/21,"Brisbane Cricket Ground, Brisbane",15,JANUARY,05:30 IST
5,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,AUGUST,15:30 IST
6,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,AUGUST,15:30 IST
7,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,AUGUST,15:30 IST
8,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,SEPTEMBER,15:30 IST
9,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,SEPTEMBER,15:30 IST

# Ques-3 Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [92]:
# Importing Libraries 

import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Loading Driver
driver =webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

# Giving the name of website we have to  scrap
url = "https://www.guru99.com/"

#Getting Url 
driver.get(url)

time.sleep(8)

Exception_Name = []
Description = []

time.sleep(8)
Task1 = driver.find_element_by_xpath("//ul[@class='menu']/li[3]/a[@title='Selenium']")
Task1.click()
time.sleep(8)
Task2 = driver.find_element_by_xpath("//td[@class='responsivetable']/a[@title='Selenium Exception Handling (Common Exceptions List)']/strong")
Task2.click()

In [93]:
# Getting Exception Name and Description Data.

Task3=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in Task3[1:42]:
    if i.text is NoSuchElementException  :
        Exception_Name.append("--") 
    else:
        Exception_Name.append(i.text)

Task4=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in Task4[1:42]:
    if i.text is NoSuchElementException  :
        Description.append("--") 
    else:
        Description.append(i.text)

In [94]:
print(len(Exception_Name),len(Description))

41 41

In [95]:
# Getting  Final Data.

Selenium = pd.DataFrame({'Exception Name' : Exception_Name, 'Description' :Description} )
Selenium

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Ques-4 Scrape the details of State-wise GDP of India from statisticstime.com

Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)

In [96]:
# Importing Libraries 

import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

rank = []
state = []
gsdp1 = []
gsdp2 = []
share = []
gdp = []

#Loading Driver
driver =webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

# Giving the name of website we have to  scrap
url = "http://statisticstimes.com/"

#Getting Url 
driver.get(url)

time.sleep(8)

time.sleep(8)
Task1 = driver.find_element_by_xpath("//div[1]/div[2]/div[2]/button")
Task1.click()
time.sleep(8)
Task2 = driver.find_element_by_xpath("//div[1]/div[2]/div[2]/div/a[2]")
Task2.click()
time.sleep(8)
Task2 = driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]/a[1]")
Task2.click()

In [97]:
time.sleep(5)

In [98]:
# Getting Rank , State , GSDP(18-19) ,GSDP(17-18) , Share(2017) and GDP($ billion) Data.

Task3=driver.find_elements_by_xpath("//tbody//td[@class='data1']")
for i in Task3[0:33]:
    if i.text is NoSuchElementException  :
        rank.append("--") 
    else:
        rank.append(i.text)
        
time.sleep(5)

Task4=driver.find_elements_by_xpath("//tbody//td[@class='name']")
for i in Task4[0:33]:
    if i.text is NoSuchElementException  :
        state.append("--") 
    else:
        state.append(i.text)

time.sleep(5)

Task5=driver.find_elements_by_xpath("//tbody//td[@class='data sorting_1'][1]")
for i in Task5[0:33]:
    if i.text is NoSuchElementException  :
        gsdp2.append("--") 
    else:
        gsdp2.append(i.text)

time.sleep(5)

Task6=driver.find_elements_by_xpath("//tbody//td[@class='data'][1]")
for i in Task6[0:33]:
    if i.text is NoSuchElementException  :
        gsdp1.append("--") 
    else:
        gsdp1.append(i.text)

        
Task7=driver.find_elements_by_xpath("//tbody//td[@class='data'][2]")
for i in Task7[0:33]:
    if i.text is NoSuchElementException  :
        share.append("--") 
    else:
        share.append(i.text)
        
time.sleep(5)        

Task8=driver.find_elements_by_xpath("//tbody//td[@class='data'][3]")
for i in Task8[0:33]:
    if i.text is NoSuchElementException  :
        gdp.append("--") 
    else:
        gdp.append(i.text)

In [99]:
time.sleep(5)

In [100]:
print(len(rank),len(state),len(gsdp1),len(gsdp2),len(share ),len(gdp))

33 33 33 33 33 33

In [101]:
time.sleep(5)

In [102]:
# Getting  Final Data
Statics = pd.DataFrame({'Rank' : rank ,'State' : state , 'GSDP(18-19)' : gsdp1 , 'GSDP(17-18)' : gsdp2 , 'Share(2017)' : share ,'GDP($ billion)':gdp} )
Statics

,Rank,State,GSDP(18-19),GSDP(17-18),Share(2017),GDP($ billion)
0,1,Maharashtra,-,"2,411,600",14.11%,374.196
1,2,Tamil Nadu,"1,664,159","1,461,841",8.55%,226.827
2,3,Uttar Pradesh,"1,542,432","1,376,324",8.05%,213.558
3,4,Karnataka,"1,535,224","1,350,257",7.90%,209.513
4,5,Gujarat,-,"1,314,680",7.69%,203.993
5,6,West Bengal,"1,177,586","999,585",5.85%,155.101
6,7,Rajasthan,"929,124","835,558",4.89%,129.650
7,8,Andhra Pradesh,"933,402","809,547",4.74%,125.614
8,9,Telangana,"865,688","753,811",4.41%,116.965
9,10,Madhya Pradesh,"809,327","728,242",4.26%,112.998
10,11,Kerala,-,"700,532",4.10%,108.698
11,12,Delhi,"779,652","690,098",4.04%,107.079
12,13,Haryana,"707,126","626,054",3.66%,97.142
13,14,Bihar,"557,490","484,740",2.84%,75.215
14,15,Punjab,"521,861","479,141",2.80%,74.346
15,16,Odisha,"485,376","436,374",2.55%,67.710
16,17,Assam,-,"288,494",1.69%,44.764
17,18,Chhattisgarh,"311,660","284,194",1.66%,44.097
18,19,Jharkhand,"307,581","276,243",1.62%,42.863
19,20,Uttarakhand,"245,895","222,836",1.30%,34.576
20,21,Himachal Pradesh,"153,181","140,613",0.82%,21.818
21,22,Jammu & Kashmir,-,"138,488",0.81%,21.489
22,23,Goa,"77,172","70,493",0.41%,10.938
23,24,Tripura,-,"46,133",0.27%,7.158
24,25,Chandigarh,-,"38,806",0.23%,6.021
25,26,Puducherry,"36,656","32,962",0.19%,5.115
26,27,Meghalaya,-,"30,790",0.18%,4.778
27,28,Nagaland,-,"24,281",0.14%,3.768
28,29,Manipur,-,"23,968",0.14%,3.719
29,30,Sikkim,"26,786","23,495",0.14%,3.646
30,31,Arunachal Pradesh,-,"22,045",0.13%,3.421
31,32,Mizoram,-,"19,457",0.11%,3.019
32,33,Andaman & Nicobar Islands,-,"7,871",0.05%,1.221

# Ques- 5  Scrape the details of trending repositories on Github.com

Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [124]:
#importing all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

driver=webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

Title=[]
Description=[]
Contributors=[]
Language=[]

driver.get('https://github.com/')

time.sleep(3)

insert=driver.find_element_by_xpath("//li[4]/details/summary[@class='HeaderMenu-summary HeaderMenu-link px-0 py-3 border-0 no-wrap d-block d-lg-inline-block']").click()

time.sleep(3)

insert1=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a").click()

time.sleep(3)

lan78=driver.find_elements_by_xpath("//article[@class='Box-row']/h1")
for wp in lan78:
    wm = wp.text
    Title.append(wm)
    
time.sleep(10)

urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//article[@class='Box-row']/h1/a")]
for url in urls:
    time.sleep(5)

           
        
    try:
        
        driver.get(url)
        language=driver.find_element_by_xpath("//ul[@class='list-style-none']/li[1]/a[1]//span[1]").text
        
        Language.append(language)
    except NoSuchElementException :
        Language.append(" ")
        
    
        
    try:
        
        driver.get(url)
        contributors=driver.find_element_by_xpath("//div[@class='BorderGrid BorderGrid--spacious']/div[4]/div/h2[@class='h4 mb-3']//span").text
        
        Contributors.append(contributors)
    except NoSuchElementException :
        Contributors.append(" ")
    
    try:
        
        driver.get(url)
        cont67=driver.find_element_by_xpath("//div[@class='BorderGrid-row hide-sm hide-md']/div/p[@class='f4 mt-3']").text
       
        Description.append(cont67)
    except NoSuchElementException :
        Description.append(" ")

In [125]:
print(len(Title),len(Description) ,len(Contributors) ,len(Language))

25 25 25 25

In [126]:
# Getting  Final Data. 
Github = pd.DataFrame({'Repository Title' : Title  , 'Repository Description' : Description  , 'Contributors Count' : Contributors , 'Language Used'  : Language}  )
Github

,Repository Title,Repository Description,Contributors Count,Language Used
0,WerWolv / ImHex,"A Hex Editor for Reverse Engineers, Programmer...",5,C++
1,nickmccullum / algorithmic-trading-python,The repository for freeCodeCamp's YouTube cour...,,Jupyter Notebook
2,alacritty / alacritty,"A cross-platform, GPU-accelerated terminal emu...",,Rust
3,bytefury / crater,Free & Open Source Invoice App for Freelancers...,,PHP
4,jwasham / coding-interview-university,A complete computer science study plan to beco...,,
5,acidanthera / OpenCorePkg,OpenCore bootloader,,C
6,github / docs,The open-source repo for docs.github.com,,JavaScript
7,3b1b / manim,Animation engine for explanatory math videos,,Python
8,rclone / rclone,"""rsync for cloud storage"" - Google Drive, Amaz...",,Go
9,rapid7 / metasploit-framework,Metasploit Framework,6,Ruby
10,CSSEGISandData / COVID-19,"Novel Coronavirus (COVID-19) Cases, provided b...",8,
11,ottomated / CrewLink-server,Voice Relay server for CrewLink.,3,TypeScript
12,public-apis / public-apis,A collective list of free APIs for use in soft...,,Python
13,SebLague / Digital-Logic-Sim,,,C#
14,swisskyrepo / PayloadsAllTheThings,A list of useful payloads and bypass for Web A...,,Python
15,thedaviddias / Front-End-Checklist,🗂 The perfect Front-End Checklist for modern w...,,
16,AkihiroSuda / nerdctl,Docker-compatible CLI for containerd,,Go
17,microsoft / restler-fuzzer,RESTler is the first stateful REST API fuzzing...,6,Python
18,home-assistant / core,🏡 Open source home automation that puts local ...,224,Python
19,ottomated / CrewLink,"Free, open, Among Us Proximity Chat",7,TypeScript
20,aseprite / aseprite,Animated sprite editor & pixel art tool (Windo...,,C++
21,neovim / neovim,Vim-fork focused on extensibility and usability,,Vim script
22,GuitarML / GuitarLSTM,Deep learning models for guitar amp/pedal emul...,,Python
23,discordjs / discord.js,A powerful JavaScript library for interacting ...,,JavaScript
24,rabbitstack / fibratus,A modern tool for the Windows kernel explorati...,,Go

# Ques-6 - Scrape the details of top 100 songs on billiboard.com

Url = https://www.billiboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [118]:
#importing all the required libraries

import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

#Loading Driver
driver =webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

# Giving the name of website we have to  scrap
url = "https://www.billboard.com/"

#Getting Url 
driver.get(url)

time.sleep(5)

song_name = []
artist_name  = []
last_week_rank  = []
peak_rank  = []
weeks_on_board = []

time.sleep(10)

Task1 = driver.find_element_by_xpath("//header[@class='header header--desktop padding-x--sm flex--space-between-center bg--dark']/div[@class='header__main-menu__wrapper flex--grow']/ul/li[1]/a")
Task1.click()

time.sleep(10)
Task2 = driver.find_element_by_xpath("//div[@class='charts-landing__info charts-landing__info--hot-100']/div")
Task2.click()

time.sleep(4)
Task3=driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]")
for i in Task3[0:100]:
    if i.text is NoSuchElementException  :
        song_name.append("--") 
    else:
        song_name.append(i.text)
        
time.sleep(5)

Task4=driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]")
for i in Task4[0:100]:
    if i.text is NoSuchElementException  :
        artist_name.append("--") 
    else:
        artist_name.append(i.text)

time.sleep(5)

Task5=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in Task5[0:100]:
    if i.text is NoSuchElementException  :
        last_week_rank.append("--") 
    else:
        last_week_rank.append(i.text)

time.sleep(5)

Task6=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in Task6[0:100]:
    if i.text is NoSuchElementException  :
        peak_rank.append("--") 
    else:
        peak_rank.append(i.text)

        
Task7=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in Task7[0:100]:
    if i.text is NoSuchElementException  :
        weeks_on_board.append("--") 
    else:
        weeks_on_board.append(i.text)

In [119]:
# Getting  Final  Data 
billiboard = pd.DataFrame({'Song Name':song_name ,'Artist Name' :artist_name , 'Last Week Rank':last_week_rank ,'Peak Rank' : peak_rank , 'Weeks On Board' : weeks_on_board  })
billiboard

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Life Goes On,BTS,-,1,1
1,Mood,24kGoldn Featuring iann dior,1,1,16
2,Dynamite,BTS,14,1,14
3,Positions,Ariana Grande,3,1,5
4,I Hope,Gabby Barrett Featuring Charlie Puth,4,3,48
...,...,...,...,...,...
95,Popstar,DJ Khaled Featuring Drake,83,3,19
96,Bichota,Karol G,-,97,1
97,Happy Does,Kenny Chesney,90,85,6
98,Cover Me Up,Morgan Wallen,-,99,1
99,So Done,The Kid LAROI,75,59,5

# Ques -7 Scrape the details of Data science recruiters from naukri.com.

 Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [150]:
#importing all the required libraries

import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

#Loading Driver
driver =webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

# Giving the name of website we have to  scrap
url = "https://www.naukri.com/"

#Getting Url 
driver.get(url)

name  = []
designation  = []
company  = []
skills   = []
location = []

time.sleep(5)
driver.switch_to_window(driver.window_handles[1])
driver.close()
time.sleep(5)
driver.switch_to_window(driver.window_handles[1])
driver.close()
time.sleep(5)
driver.switch_to_window(driver.window_handles[0])
time.sleep(10)

Task1 = driver.find_element_by_xpath("//div[@class='privacyPolicy']/div//button")
Task1.click()
time.sleep(10)

Task2 = driver.find_element_by_xpath("//div[@class='userPrompt animate']//span[1]")
Task2.click()
time.sleep(10)

Task3 = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a/div")
Task3.click()

time.sleep(5)
driver.switch_to_window(driver.window_handles[1])
time.sleep(5)

Task4 = driver.find_element_by_xpath("//div[@class='sWrap lftBrd']/div[2]/input")
Task4.send_keys('Data Science')
time.sleep(10)

Task5 = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
Task5.click()
time.sleep(5)

In [151]:
# Getting  Name , Designation , Company, skills and location data.

urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//div[@class='vcard']/p/a[1]")]
for url in urls[0:50]:
    time.sleep(3)

    try:
        
        driver.get(url)
        language=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[5]/a[1]").text
        
        location.append(language)
    except NoSuchElementException :
        location.append(" ")
        
    
        
    try:
        
        driver.get(url)
        contributors=driver.find_element_by_xpath("//div[@class='mt10 oh']/h1").text
        
        name.append(contributors)
    except NoSuchElementException :
        name.append(" ")
    
    try:
        
        driver.get(url)
        cont67=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']//div[@class='ellipsis']").text
       
        designation.append(cont67)
    except NoSuchElementException :
        designation.append(" ")

    try:
        
        driver.get(url)
        cont67=driver.find_element_by_xpath("//div[@class='rFrame fl infoWrapper']/div[4]/a[1]").text
       
        company.append(cont67)
    except NoSuchElementException :
        company.append(" ")

    try:
        
        driver.get(url)
        cont67=driver.find_element_by_xpath("//div[@class='fl lPortn']/p[1]").text
       
        skills.append(cont67)
    except NoSuchElementException :
        skills.append(" ")

In [152]:
print (len(name),len(designation),len(company),len(skills) , len(location))

50 50 50 50 50

In [153]:
# Creating  recruiter data. 
Recruitor = pd.DataFrame({'Name' : name  , 'Designation' : designation  , 'Company Name' : company , 'Skills'  : skills , 'Location' : location  }  )
Recruitor

,Name,Designation,Company Name,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer , Internet Marketing Pro...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net , Java , Data Science , Linux Administrat...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing , html5 , Angular.js , seo , had...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,", Mean Stack , javascript , angularjs , mongod...",Ahmedabad
4,MARSIAN Technologies LLP,,MARSIAN Technologies LLP,"Mid Level, Junior Level",Pune
5,subhas patel,Founder & CEO,LibraryXProject,"Hadoop , Spark , Digital Strategy , Data Archi...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Mid Level, High Level",Delhi
7,Abhishek - Only Analytics Hiring - India and APAC,Recruitment - Lead Consultant,Apidel Technologies Division of Transpower,"Analytics , Business Intelligence , Business A...",Vadodara / Baroda
8,Institute for Financial Management and Research,Programme Manager,IFMR,Analytics & Business Intelligence,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning , algorithms , Go Getter , Co...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,,Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Junior Level, Mid Level",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa , Ui , ux , Java Developer , Java Architect...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,,Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,,Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,Mid Level,Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data , Hadoop , Data Analytics , Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,IT-Software/Software Services,Cochin
18,Rakhi,Recruitment Consultant,Walkingtext Private Limited,"Mid Level, High Level",Bengaluru / Bangalore
19,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Junior Level, Mid Level",Hyderabad / Secunderabad
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,"Mid Level, Top Mangement Level",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics , Data Science , Machine Learni...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Junior Level, Mid Level",Pune
23,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Mid Level, High Level",Pune
24,Pooja Seth,IT Technical Recruiter,RAPS iTech,"Junior Level, High Level",Chandigarh
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"High Level, Mid Level",Pune
26,Shaun Rao,Manager - Human Resources,Exela Technologies,"Java , Net , Angularjs , Hr , Infrastructure ,...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,"High Level, Top Mangement Level",Bengaluru / Bangalore
28,Srikanth Bellup,Director,TeachR Robotics Pvt. Ltd,"Mid Level, Junior Level",Hyderabad / Secunderabad
29,kumar,Proprietor,trainin,"Data Science , Hadoop , Rpas , Devops , Python...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing , Machine Learning , Neural ...",Others
31,Rajat Kumar,Founder & CEO,R.S Consultancy & Services,"Web Technologies , Project Management , Softwa...",Delhi
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics , Managed Services , Team Leading",Mysoru / Mysore
33,Prateek Kumar,Head,Trisect,Junior Level,Noida
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,,Hyderabad / Secunderabad
35,Amit Sharma,Consultant,ASCO consulting,,New Delhi
36,Kanan,senior technology instructor,NY INST,"Mid Level, Junior Level",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research & Consulting Co. India,,Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Junior Level, High Level",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Python , Php , Qa Automation , Ui , Wordpre",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,,Bengaluru / Bangalore
41,Ankit Sinha,Head-Analytics,Suntech Global,,Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Top Mangement Level, Junior Level",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science , Node.js , Angularjs",Bengaluru / Bangalore
44,Ashwini,"Director, Global Delivery",MRP Advisers,,MYSORE
45,Balaji Kolli,Co-Founder,Saras Solutions India Pvt Ltd,,Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"java , hadoop , r , Machine Learning , spark ,...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Mid Level, High Level",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,,
49,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,,Noida

# Ques -8 Scrape the details of Highest selling novels.
      Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [161]:
#importing all the required libraries

import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

#Loading Driver
driver =webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

# Giving the name of website we have to  scrap
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"

#Getting Url 
driver.get(url)

book_name = []
author_name  = []
volumes_sold  = []
publisher  = []
genre  = []

In [162]:
# Getting  Book Name , Author Name  , Volume Sold , Publisher and  Genre Data  

Task3=driver.find_elements_by_xpath("//tbody/tr/td[2]")
for i in Task3:
    if i.text is NoSuchElementException  :
        book_name.append("--") 
    else:
        book_name.append(i.text)
        
time.sleep(5)

Task4=driver.find_elements_by_xpath("//tbody/tr/td[3]")
for i in Task4[0:100]:
    if i.text is NoSuchElementException  :
        author_name.append("--") 
    else:
        author_name.append(i.text)

time.sleep(5)

Task5=driver.find_elements_by_xpath("//tbody/tr/td[4]")
for i in Task5[0:100]:
    if i.text is NoSuchElementException  :
        volumes_sold.append("--") 
    else:
        volumes_sold.append(i.text)

time.sleep(5)

Task6=driver.find_elements_by_xpath("//tbody/tr/td[5]")
for i in Task6[0:100]:
    if i.text is NoSuchElementException  :
        publisher.append("--") 
    else:
        publisher.append(i.text)

        
Task7=driver.find_elements_by_xpath("//tbody/tr/td[6]")
for i in Task7[0:100]:
    if i.text is NoSuchElementException  :
        genre.append("--") 
    else:
        genre.append(i.text)

In [163]:
# getting  Final data.
Highest_Selling_Novels = pd.DataFrame( {'Book Name' : book_name , 'Author Name' : author_name , 'Volumes Sold' : volumes_sold , 'Publisher' : publisher , 'Genre' : genre } )
Highest_Selling_Novels

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Ques -9 Scrape the details most watched tv series of all time from imdb.com.
        Url = https://www.imdb.com/list/ls095964455/

 You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [6]:
#importing all the required libraries

import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string

#Loading Driver
driver =webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

# Giving the name of website we have to  scrap
url = "https://www.imdb.com/list/ls095964455/"

#Getting Url 
driver.get(url)

name  = []
year_span  = []
genre  = []
run_time  = []
ratings = []
votes  = []

In [7]:
# Getting  Name , Year span   , genre  , runtime  , ratings and votes data. 

Task1=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in Task1[0:100]:
    if i.text is NoSuchElementException  :
        name.append("--") 
    else:
        name.append(i.text)
        
time.sleep(5)

Task2=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
for i in Task2[0:100]:
    if i.text is NoSuchElementException  :
        year_span.append("--") 
    else:
        year_span.append(i.text)

time.sleep(5)

Task3=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for i in Task3[0:100]:
    if i.text is NoSuchElementException  :
        genre.append("--") 
    else:
        genre.append(i.text)

time.sleep(5)

Task4=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in Task4[0:100]:
    if i.text is NoSuchElementException  :
        run_time.append("--") 
    else:
        run_time.append(i.text)

        
Task5=driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[@class='ipl-rating-star__rating'][1]")
for i in Task5[0:100]:
    if i.text is NoSuchElementException  :
        ratings.append("--") 
    else:
        ratings.append(i.text)
        
        
Task6=driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")
for i in Task6[0:100]:
    if i.text is NoSuchElementException  :
        votes.append("--") 
    else:
        votes.append(i.text)

In [8]:
print (len(name),len(year_span),len(genre),len(run_time) , len(ratings) ,len(votes))

100 100 100 100 100 100

In [9]:
# Scraping final most watched tv series of all time data  from imbd.com.

Imbd_Data = pd.DataFrame( {'Name' : name , 'Year Span' : year_span , 'Genre' : genre , 'Run Time' : run_time , 'Ratings': ratings  ,'Votes' : votes} )
Imbd_Data

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,735,876"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.8,"794,876"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"841,763"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"252,039"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"211,104"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"42,872"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,025"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"157,258"
98,Scream: The TV Series,(2015– ),"Crime, Drama, Horror",45 min,7.2,"33,632"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"175,866"

# Ques -10 Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [11]:
# Importing Libraries 

import numpy as np
import pandas as pd
from  selenium import webdriver
from time import sleep
import warnings
warnings.filterwarnings('ignore')
import time
import string
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Loading Driver
driver =webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

# Giving the name of website we have to  scrap
url = "https://archive.ics.uci.edu/"

#Getting Url 
driver.get(url)

dataset_name = []
data_type  = []
task  = []
attribute_type  = []
no_of_instances  = []
no_of_attribute  = []
year = []

time.sleep(10)
Task1 = driver.find_element_by_xpath("//b/a[@href='datasets.php']")
Task1.click()

time.sleep(5)

In [12]:
# Getting the DataSet name , Data Type , Task , Attribute Type , No  of Instances , No  of Attribute and year Data.

urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//p[@class='normal']/b/a")]
for url in urls[0:559]:
    time.sleep(5)
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//span[@class='heading']/b").text
        des=raw_description.replace("Data Set","")
        dataset_name.append(des)
    except NoSuchElementException :
        dataset_name.append(" ")
        
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[1]/td[2]/p[@class='normal']").text      
        data_type.append(raw_description)
    except NoSuchElementException :
        data_type.append(" ")

    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[3]/td[2]/p[@class='normal']").text      
        task.append(raw_description)
    except NoSuchElementException :
        task.append(" ")

    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[2]/td[2]/p[@class='normal']").text      
        attribute_type.append(raw_description)
    except NoSuchElementException :
        attribute_type.append(" ")
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[1]/td[4]/p[@class='normal']").text      
        no_of_instances.append(raw_description)
    except NoSuchElementException :
        no_of_instances.append(" ")

    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[2]/td[4]/p[@class='normal']").text      
        no_of_attribute.append(raw_description)
    except NoSuchElementException :
        no_of_attribute.append(" ")

    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//tbody/tr[2]/td[6]/p[@class='normal']").text 
        des=raw_description[0:4]
        year.append(des)
    except NoSuchElementException :
        year.append(" ")

In [13]:
print (len(dataset_name),len(data_type),len(task),len(attribute_type) , len(no_of_instances) ,len(no_of_attribute) ,len(year))

559 559 559 559 559 559 559

In [14]:
# Getting Final Data

UCI=pd.DataFrame({"Dataset Name":dataset_name,"Data Type":data_type,"Task":task,"Attribute Type":attribute_type,"No of instances":no_of_instances,
                "No of attribute":no_of_attribute , "Year" : year})
UCI

,Dataset Name,Data Type,Task,Attribute Type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,N/A
3,Anonymous Microsoft Web Data,N/A,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,N/A,Regression,Integer,N/A,N/A,2020
555,Guitar Chords finger positions,Text,Classification,N/A,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,N/A,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",N/A,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020

# ************************************************************End of Document***************************************************